.CustomerInfo-input input {
  width: 275px;
  border: 1px solid lightgrey;
  padding: 4px;
  color: blue;
  font-weight: bold;
  font-size: large;
}

.CustomerInfo-input label {
  width: 150px;
  font-weight: bold;
  font-size: large;
<<<<<<< HEAD
  padding-left: 20px;
=======
  /* padding-left: 20px; */
>>>>>>> cde520d23261a647ffc4b0ec8fd489c5714b6ac8
}