li.active, mark, a.dropdown.active {
    padding: 0;
    background-color: #007bff;
    font-weight: 800;
    color: #ffffff;
}

.search-bar {
    width: 75%;
<<<<<<< HEAD
    margin: 20px auto;
=======
    margin: 20px 20px 20px 0px;
>>>>>>> cde520d23261a647ffc4b0ec8fd489c5714b6ac8
}

.navigation-clean-button.navbar-light .navbar-nav a.active {
    color: #ffffff;
}