li.active, mark, a.dropdown.active {
    padding: 0;
    background-color: #007bff;
    font-weight: 800;
    color: #ffffff;
}

SearchBar {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.navigation-clean-button.navbar-light .navbar-nav a.active {
    color: #ffffff;
}